$font-color: #310025;
$outline-color: rgba($font-color, 0.2);
$border-color: #94be99;
$experience-bg-color: rgba(#eded9f, 0.8);
$footer-bg-color: #5caaac;
$button-bg-color: #5caaac;
$button-color: #ffffff;
$button-font-size: 30px;
$link-color: #5caaac;

$letty-size: 265px;
$letty-outside: 50px;

$content-width: 300px;
$content-height: 600px;

$footer-height: 61px;

$leaf-size: 35px;
